#!/usr/bin/env ruby

compile '/**/*.html' do
  layout '/default.*'
end

# Root page
compile '/index.md' do
  filter :fenced_code_block
  filter :kramdown
  layout '/splash.*'
end

# Other root pages
compile '/*.md' do
  filter :fenced_code_block
  filter :kramdown
  layout '/default.*'
end

# Tutorial pages
compile '/tutorial/**/*.md' do
  filter :fenced_code_block
  filter :kramdown
  layout '/collection.*'
end

# Guides pages
compile '/guides/**/*.md' do
  filter :fenced_code_block
  filter :kramdown
  layout '/collection.*'
end

route '/**/*.{html,md}' do
  if item.identifier =~ '/index.*'
    '/index.html'
  else
    item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
