/*  ------------------------------------------------------------------
  Components > Callouts
-------------------------------------------------------------------  */

%callout-template {
  background-color: $gray;
  border-left: 5px solid $black;
  display: block;
  padding: 15px;
}

.notice {
  @extend %callout-template;
  background-color: color($base16-0D l(90%));
  border-color: $base16-0D;
}

.warning {
  @extend %callout-template;
  background-color: color($base16-0A l(90%));
  border-color: $base16-0A;
}

.alert {
  @extend %callout-template;
  background-color: color($base16-08 l(90%));
  border-color: $base16-08;
}
