/*  ------------------------------------------------------------------
  Dependencies > Variables > Colors
-------------------------------------------------------------------  */

$black                          : #000 !default;
  $black-text                   : #333 !default;
$white                          : #fff !default;

/* Grays */
$gray                           : #a29f99 !default;
$gray-light                     : color($gray l(20%)) !default;
$gray-lighter                   : color($gray l(30%)) !default;
$gray-lightest                  : color($gray l(40%)) !default;
$gray-dark                      : color($gray l(-20%)) !default;
$gray-darker                    : color($gray l(-30%)) !default;
$gray-darkest                   : color($gray l(-40%)) !default;

/* Transparent */
$transparent-white              : hsla(100,100%,100%,0) !default;
$transparent-black              : hsla(0,0%,0%,0) !default;

$shadow-lightest                : hsla(0, 0%, 0%, 0.1) !default;
$shadow-lighter                 : hsla(0, 0%, 0%, 0.25) !default;
$shadow-light                   : hsla(0, 0%, 0%, 0.5) !default;
$shadow                         : hsla(0, 0%, 0%, 0.75) !default;

$glow-lightest                  : hsla(100,100%,100%,0.1) !default;
$glow-lighter                   : hsla(100,100%,100%,0.25) !default;
$glow-light                     : hsla(100,100%,100%,0.5) !default;
$glow                           : hsla(100,100%,100%,0.75) !default;

/* Based on http://www.colourlovers.com/palette/3404745/berry_vines */
$green-light: #BEDB89;
$green: #8EB38A;
$green-dark: #347F66;
$purple: #7E4463;
$purple-light: #B06E85;

/* Colors2Things
------------------------------------------------------------------  */

$app-color-primary              : $green !default; /* The main highlight color of the app */
$app-color-secondary            : $purple !default; /* Secondary color used */
$site-background-color          : $white !default;
$site-header-color              : $green !default;

/* Text Color */
$text-color                     : $black-text !default;
$text-color-light               : $gray-light !default;

/* Input placeholder text color */
$placeholder-text-color         : $gray-light !default;

/* Links */
$link-color                     : $purple-light !default;
$link-color-hover               : color($link-color l(40%)) !default;
$link-color-active              : color($link-color l(60%)) !default;
$link-color-visited             : color($link-color l(80%)) !default;
