/*  ------------------------------------------------------------------
  Dependencies > Variables > Typography
-------------------------------------------------------------------  */

$base-font-stack: "Helvetica Neue", $body-font;
$font-monospaced: Monaco, "Liberation Mono", Courier, monospace;

$base-font-size: 16px;
$base-line-height: 1.4;
