/*  ------------------------------------------------------------------
  Dependencies > Mixins > Responsive Design
-------------------------------------------------------------------  */

$page-with-logo: 1400px;
$page-width: $nested-width;
$phone-width-min: 320px;
$phone-width-max: 700px;

@define-mixin bodhi $breakpoint {

  /* Phone */
  @if $breakpoint == phone {
    @media only screen and (min-device-width : $phone-width-min) and (max-device-width : $phone-width-max)
      { @mixin-content; }
  }

  /* Nest */
  @if $breakpoint == smaller-then-nest {
    @media all and (max-width: $nested-width)
      { @mixin-content; }
  }

  /* Smaller Screens */
  @if $breakpoint == smaller-screens {
    @media all and (max-width: $page-with-logo)
      { @mixin-content; }
  }

} /* @define-mixin bodhi($breakpoint) */
