<!DOCTYPE HTML>
<html class="no-js" lang="en">

  <%= partial 'head' %>

<body class="preload markdown-body">

  <%= partial 'page-header' %>

  <main id="main">

    <article>
      <header>
        <h1><%= item[:title] %></h1>
      </header>
      <%= yield %>
    </article>

  </main>

  <%= partial 'page-footer' %>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-74551306-1', 'auto');
    ga('send', 'pageview');

  </script>

</body>
</html>
