/*  ------------------------------------------------------------------
  Structure > Main
-------------------------------------------------------------------  */

#main {
  @extend %clearfix;
  @extend %nested-margin;
  border-radius: 3px;
  padding: 70px 15px 15px;

  @mixin bodhi smaller-then-nest {
    margin: 0 0 0 0;
    width: 100%;
  }

} /* #main */

body.collection,
body.series {

  article {
    margin-left: 200px;

    @mixin bodhi smaller-then-nest {
      margin-left: 0;
    }

  } /* article */

} /* body.collection */
