/*  ------------------------------------------------------------------
  Structure > Main Navigation
-------------------------------------------------------------------  */

#mobile-menu {
  @extend %image-replacement;
  background-image: url("/img/hamburger.svg");
  display: none;
  position: absolute;
    top: 10px;
    right: 10px;
  height: 32px;
  width: 32px;

  @mixin bodhi phone {
    display: block;
  }

} /* #mobile-menu  */

#main-navigation {
  float: right;
  margin: 32px 25px 0 0;

  @mixin bodhi phone {
    display: none;
  }

  body.mobile-nav-open & {
      display: block;
      position: absolute;
        top: 180px;
        left: 50%;
      transform: translateX(-50%);
      margin: 10px 0 0 0;
  }

  ol {
    @extend %list-in-disguise;
  }

  li {
    display: inline-block;
    min-width: 140px;
    text-align: center;
    width: 16%;

    @mixin bodhi phone {
      width: 100%;
    }

    &:last-child {
      min-width: 50px;
      margin: 0 0 0 10px;
      width: 50px;

      @mixin bodhi phone {
        margin: 0;
        min-width: 100%;
        width: 100%;
      }

    } /* &:last-child */

  } /* li */

  a {
    color: $white;
    display: block;
    font-weight: 200;
    letter-spacing: 2px;
    margin: 0 5%;
    opacity: 0.9;
    text-transform: uppercase;
    width: 90%;

    @mixin bodhi phone {
      margin: 0 10px 20px;
    }

    &:not(.icon-link) {
      line-height: 32px;

      &:hover {
        background-color: $white;
        border-radius: 3px;
        text-decoration: none;
        color: $green-dark;
      }

      &.active {
        border: 1px $white solid;
        border-radius: 3px;
        opacity: 0.8;
        text-decoration: none;

        &:hover {
          color: $black;
        }

      } /* .active */

    } /* &:not(.icon-link) */

    svg {
      fill: $white;
      margin-bottom: -7px;
    }

    &:hover svg {
      fill: $green-light;
    }

  } /* a */

} /* #main-navigation */
