/*  ------------------------------------------------------------------
  Structure > Main Navigation
-------------------------------------------------------------------  */

#main-navigation {
  clear: both;
  margin-top: 20px;

  ol {
    @extend %list-in-disguise;
  }

  li {
    display: inline-block;
    text-align: center;
    width: 19%;
  }

  a {
    display: block;
    border: 1px solid $link-color;
    border-radius: 3px;
    line-height: 30px;
    margin: 0 10%;
    width: 80%;

    &:hover {
      background-color: $link-color;
      color: $white;
      text-decoration: none;
    }

    &.active {
      background-color: $link-color-active;
      border-color: $link-color-active;
      color: $white;
      text-decoration: none;
    }

  } /* a */

} /* #main-navigation */
