/*  ------------------------------------------------------------------
  Structure > Main
-------------------------------------------------------------------  */

#main {
  @extend %clearfix;
  @extend %nested-margin;
  background-color: $white;
  border-radius: 3px;
  padding: 70px 15px 15px;

  article {
    margin-left: 200px;
  }

} /* #main */
