/*  ------------------------------------------------------------------
  Structure > Page Header
-------------------------------------------------------------------  */

#page-header {
  @extend %clearfix;
  @extend %nested;
  background-attachment: fixed;
  background-color: $site-background-color;
  background-image: url('/img/bg.jpg');
  background-position:  top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 103px;

  h1 {
    @extend %image-replacement;
    background-image: url("/img/absinthe-dark.svg");
    color: transparent;
    display: block;
    position: absolute;
      top: 10px;
      left: 25px;
    height: 150px;
    margin: 0;
    padding: 0;
    width: 300px;
  }

} /* #page-header */
