/*  ------------------------------------------------------------------
  Structure > Page Header
-------------------------------------------------------------------  */

#page-header {
  @extend %clearfix;
  background-color: $site-header-color;
  padding: 20px;

  h1 {
    @extend %image-replacement;
    background-image: url("/img/absinthe.svg");
    color: transparent;
    display: block;
    float: left;
    height: 75px;
    margin: 0;
    padding: 0;
  }

  nav {
    float: right;
    width: 950px;
  }

} /* #page-header */
