/*  ------------------------------------------------------------------
  Structure > Splash
-------------------------------------------------------------------  */

body.splash {
  background-attachment: fixed;
  background-color: $site-background-color;
  background-image: url('/img/bg.jpg');
  background-position:  center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 660px;

  @mixin bodhi phone {
    min-height: 700px;
  }

  #main-navigation {
    clear: both;
    width: 100%;

    @mixin bodhi phone {
      position: absolute;
        top: 300px;
        left: 50%;
      transform: translateX(-50%);
      margin: 10px 0 0 0;
    }

    li {

      @mixin bodhi phone {
        width: 100%;
      }

      &:last-child {

        @mixin bodhi phone {
          margin: 0;
          min-width: 100%;
          width: 100%;
        }

      }

      a {

        @mixin bodhi phone {
          margin: 0 10px 10px;
        }

      }

    }

  }

  #main {
    @extend %nested-margin;
    height: 100%;
    min-height: 660px;
    padding: 0;
    position: relative;
    text-align: center;
    background-color: transparent;

    @mixin bodhi phone {
      margin-left: 0;
      margin-right: 0;
    }

  } /* #main */

  h1 {
    @extend %image-replacement;
    background-image: url("/img/absinthe.svg");
    opacity: 0.8;
    color: transparent;
    display: block;
    height: 425px;
    margin: 0;
    padding: 0;
    width: 700px;

    @mixin bodhi phone {
      height: 174px;
      width: 300px;
    }

  } /* h1 */

  h2 {
    opacity: 0.8;
    color: $white;
    font-size: 30px;
    font-weight: 300;
    margin: 30px 0 0;
    padding: 0;

    .amp {
      display: inline-block;
      padding: 0 6px 0 4px;
    }

  } /* h2 */

  .splash-content {
    position: absolute;
      top: 50%;
      left: 50%;
    transform: translate(-50%, -50%);

    @mixin bodhi phone {
      top: 30px;
      transform: translateX(-50%);
    }

  } /* .splash-content */

  #page-footer {
    color: $white;
    position: absolute;
      bottom: 10px;
    width: 100%;

    a {
      color: $green-light;
    }

  } /* $page-footer */

} /* body.splash */
