/*  ------------------------------------------------------------------
  Structure > Splash
-------------------------------------------------------------------  */

body.splash {

  #main-navigation {
    clear: both;
    margin-top: 20px;

    li {
      width: 19%
    }

  } /* #main-navigation */

  #main {
    @extend %nested-margin;
    height: 100%;
    min-height: 600px;
    padding: 0;
    position: relative;
    text-align: center;
    background-color: none;
  }

  h1 {
    @extend %image-replacement;
    background-image: url("/img/absinthe.svg");
    opacity: 0.8;
    color: transparent;
    display: block;
    height: 425px;
    margin: 0;
    padding: 0;
    width: 700px;
  }

  h2 {
    opacity: 0.8;
    color: $white;    
    font-size: 30px;
    font-weight: 300;
    margin: 30px 0 0;
    padding: 0;
    .amp {
      display: inline-block;
      padding: 0 6px 0 4px;
    }
  }

  .splash-content {
    position: absolute;
      top: 50%;
      left: 50%;
    transform: translate(-50%, -50%);
  }

} /* body.splash */
