/*  ------------------------------------------------------------------
  Base > Default
-------------------------------------------------------------------  */

* {
  background-repeat: no-repeat;

  &,
  &:before,
  &:after {
    box-sizing: border-box;
  }

} /* * */

html,
body {
  height: 100%;
  min-height: 100%;
  min-width: $nested-width;
  width: 100%;
  z-index: 2;

  @mixin bodhi phone {
    min-width: 100%;
  }

} /* html,.. */

body {
  color: $black-text;
  font-family: $base-font-stack;
  font-size: $base-font-size;
  font-style: normal;
  font-variant: normal;
  line-height: $base-line-height;
  margin: 0;
  padding: 0;
}

span.amp {
  font-family: Baskerville, Palatino, "Book Antiqua", serif;
  font-style: italic;
}

.hidden,
.is-hidden {
  display: none !important;
}

.is-visible {
  display: inline-block !important;
}

.invisible,
.is-invisible {
  height: 0 !important;
  margin: 0 !important;
  min-height: 0 !important;
  min-width: 0 !important;
  opacity: 0 !important;
  padding: 0 !important;
  z-index: $z-index-base - 100 !important;
}

a {
  color: $link-color;
  text-decoration: none;

  &:active,
  &:hover {
    outline: 0;
    text-decoration: underline;
  }

} /* a */
